.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-200);
  margin: var(--space-500) auto;

  & .card {
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
  }



  & .card__content {
    padding: var(--space-300);
  }

  & .card__title {
    font-size: var(--font-h4);
    font-weight: 600;
    margin-bottom: var(--space-100);
  }

  & .card__title--small{
    font-size: var(--font-h6);
    margin-bottom: var(--space-200);
    display: flex;
    align-items: center;
    gap: var(--space-100);
  }

  & .card__description {
    font-size: var(--font-p);
    color: var(--text-color-secondary);
    margin-bottom: var(--space-200);
  }

  & .card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-150);
  }

  & .card__tag {
    background-color: var(--tag-color);
    color: var(--text-color);
    padding: var(--space-100) var(--space-200);
    border-radius: var(--space-200);
    font-size: var(--font-xsmall);
    font-weight: 600;
  }

  & .card__link-wrapper {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.103);
      transform: translateY(-3px);
    }
  }
}

.card__container--big{
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.card__icon{
  stroke: var(--primary-color);
  background-color: var(--light-color);
  border-radius: 50%;
  padding: var(--space-100);
  width: 2.5rem;
  height: 2.5rem;
  overflow:visible;

}