.hero {
  max-width: var(--max-width);
  width: 100%;
  height: calc(100vh - 80px);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-800);
  box-sizing: border-box;

  & .hero__subtitle {
    color: var(--primary-color);
  }

  & .hero__title {
    font-weight: 700;
    line-height: 1.2;
    margin: var(--space-075) 0 0 0;
  }

  & .hero__subtitle-secondary {
    color: var(--secondary-color);
    font-size: var(--font-h2);
    font-weight: 600;
  }

  & .hero__description {
    margin: var(--space-500) 0;
    line-height: 1.5;
  }

  & .hero__pfp{
    position: relative;
    width: 100%;
  }

  & .hero__img {
    position: relative;
    border-radius: 100%;
    z-index: 10;
  }

  & .hero__circle {
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    width: 105%;
    height: 105%;
    border-radius: 100%;
    background: linear-gradient(147deg,rgba(18, 150, 231, 1) 0%, rgba(87, 206, 241, 1) 100%);
    z-index: 1;
    animation: floatUpDown 6s ease-in-out infinite;
    box-shadow: var(--box-shadow);
  }

  & .hero__buttons {
    display: flex;
    gap: var(--space-200);
    margin-top: var(--space-300);
  }
}

@keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }