.nav {
  max-width: calc(1024px + 16rem);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(4px);
  box-shadow: var(--box-shadow);

  border-radius: var(--space-400);
  padding: var(--space-200) var(--space-500);
  margin: 0 auto;

  position: sticky;
  top: var(--space-200);
  z-index: 1000;

  & .nav__container {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-size: var(--font-h6);
  }

  & .nav__list {
    display: flex;
    list-style: none;

    gap: var(--space-200);
    padding: 0;
    margin: 0;
  }

  & .nav__link {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    padding: var(--space-100) var(--space-200);
    border-radius: var(--space-100);
    transition: color 0.3s ease-in-out;

    &::before {
      content: "/ ";
      font-weight: 800;
      color: var(--primary-color);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: var(--space-050);
      height: 3px;
      width: 0%;
      background-color: var(--primary-color);
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:hover::after {
      width: 100%;
    }
  }

  & .nav__logo {
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
  }

  & span {
    color: var(--text-color);
  }
}

.nav-detail {
  max-width: 1200px;
  margin: auto;
  margin-top: var(--space-600);

  & .nav__link {
    display: flex;
    gap: var(--space-100);
    text-decoration: none;
    color: var(--primary-color);
  }

  & .nav__arrow {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--primary-color);
    transition: all 0.3s ease;
  }
}
